<app-loading *ngIf="loadingArtist"></app-loading>

<div class="row animate fadein" *ngIf="!loadingArtist">
  <div class="col-2">
    <img class="img-thumbnail img-circle" [src]="artist.images | noimage" [alt]="artist.name" [title]="artist.name">
  </div>

  <div class="col">
    <h3>
       {{ artist.name }}
    </h3>

    <p>
      <a [href]="artist.external_urls.spotify" target="_blank">
        Ir a la página del artista
      </a>
    </p>
  </div>

  <div class="col-4 text-right">
    <button routerLink="/search" class="btn btn-outline-light">
      Regresar
    </button>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <table class="table text-center">
      <thead>
        <tr>
          <th>
            Foto
          </th>

          <th>
            Album
          </th>

          <th>
            Canción
          </th>

          <th>
            Vista previa
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let track of topTracks">
          <td>
            <img class="img-thumb" [src]="track.album.images | noimage" [alt]="track.name" [title]="track.name">
          </td>

          <td>
            {{ track.album.name }}
          </td>

          <td>
            {{ track.name  }}
          </td>

          <td>
            <!-- <audio [src]="track.preview_url" controls></audio> -->
            <!-- <iframe [src]="track.uri | domseguro: 'https://embed.spotify.com/?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
            <iframe [src]="track.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <!-- <iframe [src]="track.id | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>