<div class="card-columns mt-5 mb-5 animate fadein">
  <div (click)="viewArtist(item)" *ngFor="let item of items" class="card puntero">
    <img class="card-img-top" [src]="item.images | noimage" [alt]="item.name" [title]="item.name">
    <div class="card-body">
      <h5 class="card-title">
          {{ item.name }}
      </h5>
      <p class="card-text">
        <span *ngFor="let artist of item.artists" class="badge badge-dark">
          {{ artist.name }}
        </span>
      </p>
    </div>
  </div>
</div>
